Wilkommen beim Test des Matrix SDK<br/>
Trage hier deine Matrix-ID-Benutzerdaten ein<br/>
(Dabei handelt es sich um die gleichen Login-Daten, die die von Dennis für FluffChat bekommen hast)<br><br>
<label>Benutzername:</label><input required type="text" [(ngModel)]="username"/>
<br>
<label>Passwort:</label><input required type="password" [(ngModel)]="password"/>
<button (click)="onLoginBtClick()">Einloggen</button>

<div [hidden]="afterLoginSectionHidden">
    <h1>Der Login hat funktioniert</h1>

    <h2>Deine Rooms</h2><br>
    Hier siehst du alle Rooms, die du hast:<br>
    <ul>
        <li *ngFor='let room of allRooms;'>    
            {{room.name}}<input type="radio" [(ngModel)] ="selectedRoomId" name="selectedRoom" value={{room.id}}>
    </ul>

    Du kannst jetzt Aktionen für diese Räume ausführen.<br>
    Nachdem du eine Aktion ausgeführt hast, kannst du in Element oder FluffyChat nachschauen, ob es auch wirklich funktioniert hat.<br>

    <h3>Sende eine Nachricht an den ausgewählten Room (klappt bisher nur bei unverschlüsselten Räumen)</h3><br>
    <label>Text der Nachricht</label><input type="text" [(ngModel)]="enteredMsgTxt"><br>
    <button (click)="onSendMessageToRoomBtClick()">senden</button><br><br>

    <h3>Erstelle einen (unverschlüsselten) Room</h3>
    <label>Name des Rooms</label><input type="text" [(ngModel)]="newRoomName"><br>
    <button (click)="onCreateRoomBtClick()">Room erstellen</button><br><br>

    <h3>Lösche den ausgewählte Room</h3><br>
    <button (click)="onDeleteRoomBtClick()">Room löschen</button><br><br>
    
    <h2>Deine Kontakte</h2>
    Hier siehst du deine Kontakte. Aktuell sind das nur alle Leute, die in den gleichen Chats wie du sind.
    <ul>
        <li *ngFor='let user of allUsers;'>    
            {{user.name}}<input type="radio" [(ngModel)] ="selectedUserId" name="selectedUser" value={{user.id}}>
    </ul>
    <br><br>

    <h2>Ausgewählten Kontakt in ausgewählten Raum einladen</h2>
    <button (click)="onInviteToRoomBtClick()">Einladen</button>
</div>
<router-outlet></router-outlet>
